/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  display: none;
  padding: 25px;
  margin-top: 25%;
  flex-direction: column;
  gap: 2rem;
}

.succesDisplay {
  position: absolute;
  display: flex;
  inset: 0;
  background-color: #fff;
}

.form {
  position: relative;
  display: grid;
}

.form__content {
  padding: 25px;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.form_benefits {
  list-style: none;
  display: grid;
  gap: 1rem;
  margin-block: 1.5rem;
}

.form_benefits div {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.1;
}

.btn {
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.form__email {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid var(--Grey);
  margin-bottom: 15px;
}

.form__input:invalid {
  border: 1px solid red;
  outline: none;
  background-color: hsl(4, 100%, 90%);
}

.form__input--special {
  border: 1px solid red;
  outline: none;
  background-color: hsl(4, 100%, 90%);
}

.form__input:invalid + .invalid {
  display: block;
}

.invalid {
  display: none;
  color: var(--Tomato);
  position: absolute;
  right: 0;
}

.form__label {
  font-size: 14px;
  color: var(--Charcoal-Grey);
  font-weight: bold;
  margin-bottom: 8px;
}

.btn--dismiss {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

.image__desktop {
  display: none;
}

.email {
    font-weight: bold;
}

@media (min-width: 600px) {
  body {
    background-color: var(--Charcoal-Grey);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    place-content: center;
    margin-inline: 5rem;
  }

  .image__mobile {
    display: none;
  }

  .image__desktop {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    gap: 2rem;
  }

  .form__content {
    margin-top: 15px;
  }

  .btn {
    transition: all 0.3s;
  }

  .btn:hover {
    background-color: var(--Tomato);
    box-shadow: 0rem 0.5rem 1rem var(--Tomato);
  }

  .success {
    margin-top: 0;
    inset: auto;
    position: static;
    border-radius: 25px;
    padding: 50px;
    width: 550px;
  }

  .btn--dismiss {
    position: static;
    transform: none;
    width: 100%;
  }

  h2 {
    font-size: 2.75rem;
  }
}

@media (min-width: 950px) {
  .main {
    width: 910px;
  }

  h1 {
    font-size: 3rem;
  }
}
